body{
  background-image: url(3.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        color: blue;
        margin-top: 100px;
}

.forma{
    width: 20%;
    background: red;
    margin: auto;
    padding: 20px;
    border-radius: 0px;

}
.titulo{
    size: 20px;
    margin: auto;
    padding: 5px;
    color: white;
}
.enviar{
  padding: 5px;
  background: ;
  color: WHITE;
  }
button{
    padding: 10px;
    background: red;
    border-radius: 0px;
    cursor: pointer;
    border-color: red;
    color: white;
    width: 100px;

}
h1{
    text-align: center;

}

.opera{
    margin: 5px;
    border-color: black;
    border-radius: 0px;
    width: 100px;
    padding: 8px;
}